---
layout: default
---

{% include wrap.html %}

		
<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-8">
		
			<!-- Google adsense -->
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Leaderboard ad -->
			<ins class="adsbygoogle"
				 style="display:inline-block;width:728px;height:90px"
				 data-ad-client="ca-pub-8654065376621022"
				 data-ad-slot="6242018192"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		
            <! -- Blog Post  -->
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            <p><csmall>{{ page.date | date: "%b %-d, %Y" }}.</csmall></p>
            
			<hr />
			 <p class="share">
                <a href="http://www.facebook.com/sharer.php?u={{ page.url | prepend: site.url }}"><i class="fa fa-facebook"></i></a>
                <a href="http://twitter.com/home/?status= {{page.title}} {{ page.url | prepend: site.url }} via @IvanKorhner" _target="blank"><i class="fa fa-twitter"></i></a>	 		
            </p>
			<hr />
			
            {{ content }}

            <div class="spacing"></div>
            <hr />
			 <p class="share">
                <a href="http://www.facebook.com/sharer.php?u={{ page.url | prepend: site.url }}"><i class="fa fa-facebook"></i></a>
                <a href="http://twitter.com/home/?status= {{page.title}} {{ page.url | prepend: site.url }} via @IvanKorhner" _target="blank"><i class="fa fa-twitter"></i></a>	 		
            </p>
			<hr />
        </div><! --/col-lg-8 -->
        
        {% include sidebar.html %}

    </div><! --/row -->
	{% include disqus.html disqus_identifier=page.disqus_identifier %}
</div><! --/container -->